{% extends 'layout.html.twig' %}

{% block content %}
<form method="post">
    <p>Title</p>
    <input type="text" name="title">
    <p>Movie</p>
    <input type="text" name="movie">
    <p>Planet</p>
    <input type="text" name="planet">
    <input type="submit" value="Valider">
</form>
{% endblock %}